.donate-glass{
    height:300px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(15px);
    border-radius:25px;
    margin-top:40px;
    font-size:22px;
}

.donate-footer{
    margin-top:20px;
    opacity:0.8;
    font-size:14px;
}
